Package: com.developer.faketruetone
Name: FakeTrueTone (Rootless)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Enables dummy True Tone toggle in Settings & Control Center on iOS 15-16 rootless jailbreaks.
Maintainer: iOS Tweak Developer <dev@iosjb.internal>
Author: iOS Tweak Developer
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.7000), firmware (>= 15.0)
Tag: role::developer, compatible::ios15, compatible::ios16
Depiction: https://repo.example.com/depiction/faketruetone
Icon: https://repo.example.com/icons/faketruetone.png
